body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2hUSHYjcz4JvUNJvzzkWWapOxQa53sxi97A&s");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
} 