a:hover{
    color:red;
}

a.a1:hover{
    color: green;
}

input{
    width: 100px;
    padding: 5px;
}
input:focus{
    background-color: aqua;
}
ol{
    border: 5px solid black;
}
li:nth-child(odd){
    background-color: blanchedalmond;
}
li:nth-child(even){
    background-color: greenyellow;
}